In [1]:
#importing libraries 

import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer #imports text data into numerical value 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
#data collection and pre-processing

raw_mail_data = pd.read_csv('C:/Users/Admin/Downloads/mail_data.csv')

In [3]:
raw_mail_data

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [4]:
#replacing the null values with a null string for better processing

mail_data = raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [5]:
mail_data.tail()

     Category                                            Message
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

In [6]:
#label encoding - spam mail as 0; ham mail as 1

mail_data.loc[mail_data['Category'] == 'spam', 'Category',] = 0
mail_data.loc[mail_data['Category'] == 'ham', 'Category',] = 1

In [7]:
mail_data

     Category                                            Message
0           1  Go until jurong point, crazy.. Available only ...
1           1                      Ok lar... Joking wif u oni...
2           0  Free entry in 2 a wkly comp to win FA Cup fina...
3           1  U dun say so early hor... U c already then say...
4           1  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567        0  This is the 2nd time we have tried 2 contact u...
5568        1               Will ü b going to esplanade fr home?
5569        1  Pity, * was in mood for that. So...any other s...
5570        1  The guy did some bitching but I acted like i'd...
5571        1                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [8]:
#seperating the data as texts and label 

X = mail_data['Message']

Y = mail_data['Category']

In [9]:
X

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [10]:
Y

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

In [11]:
#Splitting the data into training and testing data

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state= 3)

In [12]:
print(X.shape)
print(X_train.shape)
print( X_test.shape)

(5572,)
(4457,)
(1115,)

In [13]:
#Feature Extraction : Transforming text data into meaningful numerical values (feature vectors) that can be used in the LR model

feature_extraction = TfidfVectorizer(min_df = 1, stop_words='english', lowercase='True')

X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

#convert Y_train and Y_test values as integers

Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [14]:
#Logistic Regression model 

model = LogisticRegression()

#training the Logistic Regression model with training data 

model.fit(X_train_features, Y_train)

LogisticRegression()

In [15]:
#Evaluating the training model 

prediction_training_data = model.predict(X_train_features) 

accuracy_training_data = accuracy_score(Y_train, prediction_training_data)

print('Accuracy of training data :', accuracy_training_data)

Accuracy of training data : 0.9670181736594121

In [16]:
#Evaluating the testing model

prediction_testing_data = model.predict(X_test_features) 

accuracy_testing_data = accuracy_score(Y_test, prediction_testing_data)

print('Accuracy of testing data :', accuracy_testing_data)

Accuracy of testing data : 0.9659192825112107

In [24]:
#Building a predictive system

input_mail = ["SIX chances to win CASH! From 100 to 20,000 pounds txt> CSH11 and send to 87575. Cost 150p/day, 6days, 16+ TsandCs apply Reply HL 4 info"]

#converting text to feature vectors 

input_data_features = feature_extraction.transform(input_mail)

#Making predictions

prediction = model.predict(input_data_features)

print(prediction)

if (prediction[0]==1):
    print('Ham Mail')

else:
    print('Spam Mail')

[0]
Spam Mail